# OS files
.DS_Store
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp

# Dependencies
node_modules/
vendor/

# Build outputs
dist/
build/


# Logs
*.log

# Testing
coverage/

# Temporary files
tmp/
.cache/